	<body>
		<h1>About me</h1>
		<p>Hi I'm Devon, a student of self study from New Zealand.</p>
		<p>I left high school with no prospects, I had failed my final year, I didn't meet the entry requirements for university, and I went straight into working trades and odd jobs, I was always interested in computers but I had no confidence that I'd actually be able to have a career in the digital space, because I didn't take it seriously at school.</p>
		<p>When I realised I was going to be a father I knew I had to make a change, with some help from friends in the industry I stuck my head down and began to study what skills I needed to learn from basic maths up to programming and software testing skills.</p>
		<p>I learned from online courses and friends and landed my first real job in only about a year, and I have been steadily gaining knowledge and experience ever since.</p>
		<p>After essentially speed running the learning process in order to have valuable skills I could show to employers, I now am focused on slowly working on solidifying my base of knowledge, by learning more about computer science, maths, and philosophy deeply, and want to promote the idea that learning things deeply and slowly is not a waste of time, even if todays age where we seem to be able to get quick results and learning by using AI, or online courses that claim to take you to a hero programmer in 6 months.</p>
		<p>My goal is to promote deep learning for people self studying instead of just learning for quick results. And here on this site I plan to showcase that.</p>
		
	</body>
