	<body>
		<h1>About the Dev</h1>
		<p>My name is actually Dev. It's Devon Kahika Campbell, I'm a self learner from New Zealand.</p>
		<p>I got into the software in my mid twenties, with no prior qualifications or experience.</p>
		<p>I failed my final year of high school, and never went to university, so there were a lot of gaps I had in my knowledge that I needed to fill, which gives me good insight for people starting out in software with zero prior knowledge, even lacking basic things like high school maths.</p>
		<p>I learned from online resources and friends in the industry. Landed my first job in 2022, and have been steadily gaining knowledge and experience ever since.</p>
		<p>I'm now studying Computer Science at Massey University. I've learning at University can be learned the same or better, without University. You just need to have commitment and a plan.</p>
		<p>This is what motivated me to create this space, so I can share what I'm learning, and help others in their "self taught" journey.</p>
	</body>
