<h1>Self Taught Blog</h1>
<h3><a href='blog/new'<a/>New Post</h3>
<ul> 
		<% posts.forEach(post => { %>
		<li>
			<h2><a href='/blog/<%= post.id %>'<a/> <%= post.title %></h2>
		</li>
		<% }) %>
</ul>
