<h1>Shower Thought Alley</h1>
<% if (user) { %>
<h3><a href='blog/new'<a/>New Post</h3>
<% }; %>
<ul> 
		<% posts.forEach(post => { %>
			<% if (post.tags == "blog") { %>
				<li>
					<h2><a href='/blog/<%= post.id %>'<a/> <%= post.title %></h2>
				</li>
			<% }; %>
		<% }) %>
</ul>
