<body>
	<h1>SelfTaughtDev</h1>
	<p>Hi I'm Devon, a student of self study from New Zealand.</p>
	<p>I'm interested in: </p>
	<ul>
		<li>Self improvment</li>
		<li>Philosophy</li>
		<li>Maths, computer science, and testing</li>
	</ul>
	<p>You'll find content for all of those things on this site, as well as links to my projects.</p>
</body>
